<template>
  <div class="app">
    <h1 class="title has-text-centered">Bucket List</h1>
    <div class="field has-addons">
      <div class="control is-expanded">
        <input type="text" class="input" v-model="description" placeholder="Go to mars..." />
      </div>
      <div class="control">
        <button class="button is-success" @click="addItem" :disabled="!description">Add</button>
      </div>
    </div>
    <div class="notification" v-for="(item, i) in items" :key="i">
      <div class="columns">
        <input type="text" class="column input" v-if="isSelected(item)" v-model="editedDescription">
        <p v-else class="column">
          <span class="tag is-info">{{ i + 1 }}</span>
          {{ item.description }}
        </p>
        <div class="column is-narrow">
          <span class="icon has-text-primary pointer" @click="isSelected(item) ? unselect() : select(item)">
            <i class="material-icons">{{ isSelected(item) ? 'close' : 'edit'}}</i>
          </span>

          <span class="icon has-text-danger pointer" @click="isSelected(item) ? updateItem(item,i) : removeItem(item,i)">
            <i class="material-icons">{{ isSelected(item) ? 'save' : 'delete' }}</i>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'App',
  data() {
    return {
      items: [],
      description: '',
      editedDescription: '',
      selected: {}
    }
  },
  async mounted() {
    const response = await axios.get('api/bucketListItems/')
    this.items = response.data;
  },
  methods: {
    async addItem() {
      const response = await axios.post('api/bucketListItems/', {
        description: this.description
      })
      this.items.push(response.data)
      this.description = ''
    },
    async removeItem(item, i) {
      await axios.delete('api/bucketListItems/' + item._id)
      this.items.splice(i, 1)
    },
    select(item) {
      this.selected = item
      this.editedDescription = item.description
    },
    isSelected(item) {
      return (this.selected._id === item._id)
    },
    unselect() {
      this.selected = {}
      this.editedDescription = ''
    },
    async updateItem(item, i) {
      const response = await axios.put('api/bucketListItems/' + item._id, {
        description: this.editedDescription
      })
      this.items[i] = response.data
      this.unselect()
    }
  }
}
</script>

<style>
.app {
  margin: 3rem auto 0;
  max-width: 700px;
}

.pointer {
  cursor: pointer
}
</style>
